
body { font: 12px 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif'; }

tr{
	height: 50px;
	font-size:30px;
}

td{
	width: 250px;
}

pre{
	height: 700px;
}

pre div{
	font-size: 30px;
	text-align: center;
	background-color: #FAFAFA;
}

pre span{
	font-size: 25px;
}

.titulo{
	font-size: 40;
	text-align: center;
	margin-top: 200px;
}
#data{
	from-size: 20;
}