
body { 
	font: 20px 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif'; 
	background-color: #A0A0F0;
}

.qunit{
	font: 20px 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif'; 
	background-color: #6B2266;
	color: #F0F0F0;
}

.require{
	background-color: #F0F0F0;
	color: #F08033;
}

.code{
	color: #51009B;
	width: 1000px;
	font-size: 20px;
	background-color: #EEEEEE;
}

tr{
	height: 50px;
	font-size:30px;
}

td{
	width: 250px;
}

.speech pre{
	height: 700px;
}

pre div{
	font-size: 30px;
	text-align: center;
	background-color: #FAFAFA;
}

pre span{
	font-size: 25px;
}

.titulo{
	font-size: 40;
	text-align: center;
	margin-top: 200px;
}
#data{
	from-size: 20;
}