
body { 
	font: 20px 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif'; 
	background-color: #A0A0F0;
}

.qunit{
	font: 20px 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif'; 
	background-color: #6B2266;
	color: #F0F0F0;
}

.phantom{
	background-color: #43413E;
	color: #FFF;
}

.require{
	background-color: #F0F0F0;
	color: #F08033;
}

.rivets{
	background-color: #3A8AEA;
	color: #FFF;
}

.bower{
	background-color: #E9E58C;
	color: #000000;
}

.code3{
	color: #51009B;
	width: 1000px;
	font-size: 20px;
	background-color: #EEEEEE;
}

pre.backbone{
	color: #FFF;
}


body.speech{
	background-color: #FFF;
}


tr.speech{
	height: 50px;
	font-size:30px;
}

td.speech{
	width: 250px;
}

pre.speech{
	height: 700px;
}

pre.speech div{
	font-size: 30px;
	text-align: center;
	background-color: #FAFAFA;
}

pre.lgm span{
	font-size: 25px;
}

.titulo{
	font-size: 40;
	text-align: center;
	margin-top: 200px;
}
#data{
	from-size: 20;
}